<ion-header>
  <ion-toolbar class="logo2">
    <img src="/assets/logo2.png" alt="logotipo do app"/>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text class="titulo">
        <h1>Bem-vindo, aluno(a)</h1>
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-icon name="star"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-text class="subtitulo">
          <h2>Mais Procurados</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <app-instrumentos>
      </app-instrumentos>
    </ion-row>


</ion-content>
